.FormContainer {
  width: 45%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  border-radius: 4px;
}
.FormTitle {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
}
.FormTitle h3 {
  width: 50%;
  padding: 20px 0;
  cursor: pointer;
  letter-spacing: 1.4px;
  text-align: center;
  border-top-right-radius: 4px;
}
.FormContainer h3:first-of-type {
  border-top-left-radius: 4px;
}
.FormContainer h3:last-of-type {
  border-top-right-radius: 4px;
}

.FormWrapper {
  min-height: 250px;

  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .FormContainer {
    width: 100%;
  }
}
